body {
    margin: 0;
}

.wrap {
    margin-top: 50px;
    margin-left: 50px;
}

ul {
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

.content {
    width: 100%; 
    max-width: 1200px;
}

.wrap__iner {
    display: flex;
}

.cnt-menu {
    width: 20%;
    height: 400px;
}

.cnt-menu {
    background-color: yellowgreen;
}

.menu > ul > li { 
    padding: 30px;
    font-size: 17px;
    transition: font-size 0.1s linear;
}

.menu > ul > li:hover {
    font-size: 20px;
}

#pallette{
    display: flex;
}

#user__pallette {
    font-size: 20px;
    margin: 10px;
    display: flex;
}
#user__pallette > li {
    margin-top: 15px;
}

#export > ul > li {
    margin: 20px;
}

#button__draw {
    background: red;
}